{{ extend './../layout/tp_admin.html' }}
{{block "style"}}
<style>
    .main {
        background-color: #eee;
        box-sizing: border-box;
        padding: 15px;
    }

    .main .content {
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 15px;
        height: 100%;
    }

    .main .content .iframe {
        width: 100%;
        height: 100%;
    }
</style>
{{/block}}

{{block "wrapper"}}
<div class="layui-layout layui-layout-admin">
    <!-- header -->
    <div class="header layui-header">
        <div class="layui-logo">Daily Task Admin</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    jerry
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <!-- aside -->
    <div class="aside layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <!-- main -->
    <div class="main layui-body">
        <div class="content">
            <iframe src="https://www.cnki.net" class="iframe" frameborder="0"></iframe>
        </div>
    </div>

    <!-- footer -->
    <div class="footer layui-footer">© Daily Task</div>
</div>
{{/block}}

{{block "script"}}
<script>
    layui.use(['layer', 'element'], function () {
        var layer = layui.layer,
            element = layui.element,
            $ = layui.$;
    })
</script>
{{/block}}