@charset "UTF-8";

/* layout css */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    overflow: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
}