{{ extend './../layout/tp_main.html' }}
{{block "style"}}
<style>
    .info {
        height: 158px;
    }
</style>
{{/block}}

{{block "wrapper"}}
<div class="htai layui-container">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>HTAI</legend>
    </fieldset>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header"><strong>LOGIN START</strong></div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="" lay-filter="loginText">
                            <div class="layui-form-item">
                                <label class="layui-form-label">账号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="username" required lay-verify="required"
                                        placeholder="请输入账号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="password" required lay-verify="required"
                                        placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="loginInfo">提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header"><strong>LOGIN CODE</strong></div>
                    <div class="layui-card-body">
                        <div class="info">
                            <a href="javascritp:;" id="coder"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"><strong>LOGIN INFO</strong></div>
                    <div class="layui-card-body">
                        <textarea name="desc" disabled="true" rows="7" placeholder="用户信息"
                            class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"><strong>LOGIN HTAI</strong></div>
                    <div class="layui-card-body">
                        <button type="button" class="layui-btn layui-btn-primary" id="login">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
            form = layui.form,
            $ = layui.$;

        // Update code
        $('#coder').on('click', function () {
            var vcode = $('#coder img').attr('src');
            $.ajax({
                type: "GET",
                url: vcode,
                data: {},
                dataType: "html",
                success: function (res) {
                    $('#coder img').attr('src', vcode);
                },
            });
        });

        form.val('loginText', {
            username: '',
            password: ''
        })

        // login infomation
        form.on('submit(loginInfo)', function (data) {
            var params = data.field;
            $.ajax({
                type: "POST",
                url: "/api/htai/logininfo",
                data: params,
                dataType: "json",
                success: function (res) {
                    if (!res.code) {
                        var d = res.data,
                            strData = JSON.stringify(d),
                            html = '';
                        localStorage.setItem('loginUser', strData);
                        console.log(strData);
                        $('[name="desc"]').attr('disabled', false).text(strData);
                        return $('#coder').html('<img src="' + d.vcode + '">');
                    }
                },
                error: function (error) {
                    console.log(error);
                    layer.msg(error.responseJSON.msg, {
                        icon: 2
                    });
                }
            });
            return false;
        });

        $('#login').on('click', function () {
            var loginUser = localStorage.loginUser;
            loginUser = JSON.parse(loginUser);
            console.log(loginUser)
            delete loginUser.headers.Referer
            delete loginUser.headers['User-Agent']
            $.ajax({
                type: "POST",
                url: "https://ai.ehuatek.com/api_frame/login",
                headers: loginUser.headers,
                data: loginUser.bodys,
                dataType: "json",
                success: function (res) {
                    console.log(res);
                }
            });
        })

        $('#register').on('click', function () {
            return layer.msg('Hi, Welcome register daily task...');
        })

    })
</script>
{{/block}}