{{ extend './../layout/tp_main.html' }}


{{block "style"}}
<link rel="stylesheet" href="/css/home.css">
{{/block}}

{{block "main"}}
<div class="home">
    <div class="layui-container">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>当前城市房源信息列表</legend>
        </fieldset>
        <div class="layui-row layui-col-space15">
            {{each house item }}
            <div class="layui-col-md6">
                <div class="house">
                    <div class="layui-panel house-item">
                        <div class="pic">
                            <img src="{{ item.imgr }}">
                        </div>
                        <div class="text">
                            <a href="{{ item.link }}" title="{{ item.title }}">
                                <span>{{ item.title }}</span>
                            </a>
                            <dl>
                                <dd><strong>类型：</strong><span>{{ item.type }}</span></dd>
                                <dd><strong>房型：</strong><span>{{ item.room }}</span></dd>
                                <dd><strong>大小：</strong><span>{{ item.area }}</span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script>
    layui.use(['layer', 'form', 'rate'], function () {
        var layer = layui.layer,
            form = layui.form,
            rate = layui.rate,
            $ = layui.jquery;
    })
</script>
{{/block}}