{{ extend './../layout/tp_users.html' }}
{{block "style"}}
<style>

</style>
{{/block}}

{{block "wrapper"}}
<div class="users">
    <div class="login content">
        <div class="layui-card">
            <div class="layui-card-header"><strong>用户登录</strong></div>
            <div class="layui-card-body">
                <form class="layui-form" lay-filter="loginText">
                    <div class="layui-form-item">
                        <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱账号" autocomplete="off"
                            class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" name="password" lay-verify="password" placeholder="请输入用户密码"
                            autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid layui-btn-normal" lay-submit
                            lay-filter="loginInfo">立即登录</button>
                    </div>
                    <div class="layui-form-item">
                        <button type="reset" class="layui-btn layui-btn-fluid layui-btn-primary">重置信息</button>
                    </div>
                    <div class="text-info layui-form-item">
                        <a href="/users/register">没有账号，去注册</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
            form = layui.form,
            $ = layui.$;


        function isEmpty(value) {
            return value === undefined || value === null ||
                (typeof value === "object" && Object.keys(value).length === 0) ||
                (typeof value === "string" && value.trim().length === 0)
        }

        function isEmail(value) {
            var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            if (reg.test(value)) return true;
            return false;
        }

        form.verify({
            email: function (value) {
                value = !isEmpty(value) ? value : '';
                if (!isEmail(value)) return '邮箱格式不正确！';
            },
            password: function (value) {
                value = !isEmpty(value) ? value : '';
                if (!value) return '用户密码不能为空！';
            }
        });

        // login infomation
        form.on('submit(loginInfo)', function (data) {
            var params = data.field;
            var loadShred = layer.load(1, {
                shade: [0.5, '#fff']
            });
            $.ajax({
                type: "POST",
                url: "/api/users/login",
                data: params,
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    if (res.success) {
                        localStorage.setItem("auth", JSON.stringify(res.result));
                        return layer.msg(res.msg, {
                            icon: 1,
                            time: 800
                        }, function () {
                            location.href = '/'
                        })
                    }
                    return layer.msg(res.msg, {
                        icon: 2,
                        time: 800
                    })
                },
                error: function (err) {
                    console.log(err.responseJSON)
                    var er = err.responseJSON;
                    return layer.msg(er.msg, {
                        icon: 2,
                        time: 800
                    })
                },
                complete: function () {
                    var timer = setTimeout(function () {
                        layer.close(loadShred);
                        clearTimeout(timer);
                    }, 1500)
                }
            });
            return false;
        });
    })
</script>
{{/block}}